process {
    executor = 'fovus'
    jobConfigFile = '/root/Jashmin/Code/Nextflow-Plugin/nf-fovus/example/Nextflow-config.json'
}

fovus {
    cliPath = '/usr/local/bin/fovus'
}

docker {
     runOptions = '-v $PWD:$PWD -v /fovus/archive:/fovus/archive -v /fovus-storage:/fovus-storage'
     enabled = true
}