plugins {
  id 'nf-fovus@0.1.0'
}

process {
    executor = 'fovus'
    jobConfigFile = '/root/Jashmin/Code/Nextflow-Plugin/nf-fovus/example/Nextflow-config.json'
    stageInMode = 'copy'
}

fovus {
    cliPath = '/usr/local/bin/fovus'
}

docker {
     runOptions = '-v $PWD:$PWD -v /fovus/archive:/fovus/archive'
     enabled = true
}