plugins {
  id 'nf-fovus@0.1.0'
}

process {
    executor = 'local'
//     jobConfigFile = '/root/Jashmin/Code/Nextflow-Plugin/nf-fovus/example/Nextflow-config.json'
    ext.benchmarkingProfileName = 'Default CPU'
}

fovus {
    cliPath = '/opt/miniconda3/envs/nextflow/bin/fovus'
    pipelineName = 'Minh Test'
}

workDir = "./test_remote"

docker {
     runOptions = '-v $PWD:$PWD -v /fovus/archive:/fovus/archive'
     enabled = true
}